
<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style type="text/css">
	.lobster {
		font-family: 'Open Sans', sans-serif;
	}
	a {
		font-color: white;
	}


</style>


<title>Index Page</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#"><h1 class='lobster'>IIT Job Prepper</h1></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
				<a class="nav-item nav-link" href="{% url 'about' %}">About</a>
				<a class="nav-item nav-link" href="{% url 'search' %}">Search</a>
					<a class="nav-item nav-link" href="{%url 'kw_search' %}">Keyword Search</a>
					<a class="nav-item nav-link" href="{%url 'soupify' %}">Soupify<strong> NEW!</strong></a>
				<a class="nav-item nav-link" href="{%url 'futures' %}">Futures</a>
			
			</div>
		</div>
	</nav>
	
	<hr>
	<div class='container'>
		<div class = 'jumbotron'>
			<h1>
			Welcome to Job Searches Reverse Engineered for IIT!  </h1>
			<p>Specifically built to search job skills from <a href='https://www.builtinchicago.org'>Built In Chicago</a> Engineering Jobs.</p>

			<a href="{% url 'search' %}"><button class='btn btn-success'>Launch Search!</button></a>
		</div>
		<hr>

		<h5>You have <em>8 electives</em> for the BSCS. Make them count! </h5>
		<hr>
		<h5> Learn what courses are offered here to prepare you for the real world!</h5>
		<hr>
		<h5><strong>BUILD A BETTER SCHEDULE!</strong></h5>



		



	</div>

<!-- 	<h1>Keywords</h1>
	<ul>
		{% for article in object_list %}
		<li>{{ article.course_id }} - {{ article.keyword }}</li>
		{% empty %}
		<li>No courses yet.</li>
		{% endfor %}
	</ul> -->

</div>


</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>